# Ambiente Virtual
.venv/
venv/
__pycache__/

# Arquivos de Build do PyInstaller
build/
dist/
*.spec

# Arquivos de IDE e Sistema Operacional
.vscode/
.idea/
.DS_Store

# Arquivos sensíveis (exemplo)
.env
*.env

# Arquivos temporários do Office
~$*.docx